<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredItems()">
  </ion-searchbar>

  <ion-card *ngFor="let album of albums | async; ">

    <ion-item>
      <ion-avatar item-start>
        <img src="{{album.thumbnailUrl}}" />
      </ion-avatar>
      <h2>Card title</h2>
    </ion-item>

    <img height="150" src="{{album.url}}" />

    <ion-card-content>
      <p>{{album.title}}</p>
    </ion-card-content>
    <!-- <div hdiv></div> -->
    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div> Like</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="chatboxes"></ion-icon>
          <div>Comment</div>
        </button>
      </ion-col>
      <!-- <ion-col center text-center> -->
      <ion-col center text-center>
        <!-- <ion-note> -->
          <div>1min ago</div>
        <!-- </ion-note> -->
      </ion-col>
    </ion-row>

  </ion-card>


</ion-content>


<!-- <ion-list>
  <ion-card *ngFor="let album of albums | async">
    <img src="{{album.url}}" />
    <ion-card-content>
      <ion-card-header>{{album.title}}</ion-card-header>
    </ion-card-content>

  </ion-card>
</ion-list> -->
